<div class="panel panel-default">
    <div class="panel-heading player-name">{{playerToDisplay?.name}}</div>
    <div class="panel-body">
    <div class="col-md-6">
      <img src="{{playerToDisplay?.image}}" alt="Picture of Braves {{playerToDisplay?.position}} {{playerToDisplay?.name}}" />
    </div>
    <div class="col-md-6 player-info">
      <span class="player-details">Position: </span>{{playerToDisplay?.position}}<br><br>
      <span class="player-details">B/T: </span>{{playerToDisplay?.bt}}<br><br>
      <span class="player-details">Height: </span>{{playerToDisplay?.height}}<br><br>
      <span class="player-details">Weight: </span>{{playerToDisplay?.weight}}lbs<br><br>
      <span class="player-details">Born: </span>{{playerToDisplay?.born}}<br><br>
      <span class="player-details">Bio: </span>{{playerToDisplay?.bio}}
    </div>
  </div>
</div>
