<h2>Atlanta Braves Roster:</h2>

<select (change)="onChange($event.target.value)">
      <option value="allPlayers" selected="selected">All Players</option>
      <option value="pitchers">Pitchers</option>
      <option value="catchers">Catchers</option>
      <option value="infield">Infield</option>
      <option value="outfield">Outfield</option>
    </select>

<div *ngFor="let player of players | async | position:filterByPosition" class="panel panel-default">
  <div class="panel-heading player-name">{{player?.name}}</div>
  <div class="panel-body">
    <div class="col-md-6">
      <img src="{{player?.image}}" alt="" (click)="goToPlayerPage(player)"/>
    </div>
    <div class="col-md-6">
      Number: {{player?.number}}<br>
      Position: {{player?.position}}<br>
      B/T: {{player?.bt}}<br>
    </div>

    <div *ngIf="currentRoute === '/admin'">
      <hr>
      <app-edit-player [selectedPlayer]="player"></app-edit-player>
    </div>
  </div>
</div>
